{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="jumbotron text-center">
  <h1>Account</h1>
</div>
<div class="container">
  {% if error_message %}
  <div class="alert alert-info text-center" role="alert">
    {{ error_message }}
  </div>
  <hr>
  {% endif %}
  <div class="row">
    <p>{{ user.email }}</p>
    <p>{{ user.first_name }}</p>
    <p>{{ user.last_name }}</p>
    <p>{{ user.last_login }}</p>
    <p>{{ user.is_staff }}</p>
    <p>{{ user.user_attr.mobile_number }}</p>
    <p>{{ user.user_attr.photo_url }}</p>
  </div>
</div>
{% endblock %}
