{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <img src="{% static 'tinyblog-logo-white.svg' %}" />
    <h1>tinyblog</h1>
    <p>A tiny blog written in Python leveraging Django/Bootstrap/Postgres and built to run on Heroku</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/berkmanmd/tinyblog"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  {% if motd %}
  <div class="alert alert-warning text-center" role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{ motd }}
  </div>
  {% endif %}
  <div class="row">
    <div>
      <table class="table-center">
      {% for item in post_results %}
        <tr>
            <td class="h3"><img src="{{ item.user.user_attr.photo_url }}" width="40px" /> {{ item.subject }}</td>
        </tr>
        <tr>
          <td class="h5">Posted by <a href="mailto:{{ item.user.email }}">{{ item.user.first_name }}</a> at {{ item.post_date }}</td>
        </tr>
        <tr>
            <td class="col-md-6">{{ item.body }}</td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td>&nbsp;</td></tr>
      {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
