{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron jumbotron-small text-center">
    <h1>Account</h1>
    <p>Tweak some settings</p>
</div>
<div class="container">
  {% if error_message %}
  <div class="alert alert-info text-center" role="alert">
    {{ error_message }}
  </div>
  <hr>
  {% endif %}
  <div class="row">
    <p>{{ username }}</p>
    <p>{{ email }}</p>
    <p>{{ first_name }}</p>
    <p>{{ last_name }}</p>
    <p>{{ last_login }}</p>
    <p>{{ is_admin }}</p>
  </div> <!-- row -->
</div>
{% endblock %}
