{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <h1>tinyblog</h1>
    <p>A tiny blog written in Python leveraging Django/Bootstrap/Postgres and built to run on Heroku</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/berkmanmd/tinyblog/master"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  {% if motd %}
  <div class="alert alert-warning text-center" role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{ motd }}
  </div>
  {% endif %}
  <div class="row text-center">
    [picture] subject<br />
    timestamp by username
    body...
  </div> <!-- row -->
</div>
{% endblock %}
